/* TYPOGRAPHY */
.entry-content,
.block-editor-block-list__layout {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  p,
  ul,
  ol {
    a {
      @apply text-blue-500 underline;

      &:hover {
        @apply no-underline;
      }
    }

    @apply mb-8;
  }

  ul:not(.block-editor-block-variation-picker__variations) {
    li {
      @apply list-disc list-inside;
    }
  }

  ol {
    li {
      @apply list-decimal list-inside;
    }
  }
}

.contact-form {
  div.wpforms-container-full .wpforms-form {
    input[type='date'],
    input[type='datetime'],
    input[type='datetime-local'],
    input[type='email'],
    input[type='month'],
    input[type='number'],
    input[type='password'],
    input[type='range'],
    input[type='search'],
    input[type='tel'],
    input[type='text'],
    input[type='time'],
    input[type='url'],
    input[type='week'],
    select,
    textarea {
      @apply px-3 py-3 rounded-md border-0 h-auto bg-stone-100;
    }
    input[type='submit'],
    button[type='submit'],
    .wpforms-page-button {
      @apply leading-tight border-0 px-10 py-4 bg-blue-500 uppercase text-center rounded text-white text-base font-semibold transition duration-300 hover:bg-blue-400 hover:border-0;
    }
  }
}
