/* HEADER */
.custom-logo {
  @apply max-h-[42px] w-auto md:max-h-12 lg:max-h-14;
}

/* NAVIGATION */
#primary-menu {
  > ul {
    > .menu-item {
      > a {
        @apply flex items-center hover:text-stone-500;
        &:before {
          content: '';
          @apply w-5 h-5 mr-2 inline-block bg-cover;
        }
      }
    }
  }
  .menu-item {
    &.home {
      > a {
        &:before {
          background-image: url('../images/icons/menu/home.svg');
        }
      }
    }
    &.profile {
      > a {
        &:before {
          background-image: url('../images/icons/menu/profile.svg');
        }
      }
    }
    &.products {
      > a {
        &:before {
          background-image: url('../images/icons/menu/products.svg');
        }
      }
    }
    &.projects {
      > a {
        &:before {
          background-image: url('../images/icons/menu/projects.svg');
        }
      }
    }
    &.contact {
      > a {
        &:before {
          background-image: url('../images/icons/menu/contact.svg');
        }
      }
    }
  }
}
