.product-description {
  ol,
  ul {
    padding-left: 1.625em;
    li {
      padding-left: 0.375em;
      margin-bottom: 0.5em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  ol {
    @apply list-decimal;
  }
  ul {
    @apply list-disc;
  }
  strong {
    @apply font-body;
  }
}
